* {
    font-family: 'Sen', sans-serif;
    text-align: center;
}

h1 {
    color: rgb(5, 7, 158);
    font-size: 50px;
}

.input-field[type=text] {
    border: 1px solid rgb(5, 7, 158);
    border-radius: 5px;
}


.list-container {
    background-color: rgba(194, 156, 107, 0.5);
    color: rgb(5, 7, 158);
    margin-left: 300px;
    margin-right: 300px;
    border: 1px solid rgba(5, 7, 158, 0.7);
    border-radius: 5px;
    min-width: 200px;
}

.item-container {
    padding: 2px;
    border: 1px solid rgba(100, 68, 27, 0.2);
    display: flex;
    justify-content: space-between;
    min-width: 150px;
    flex-direction: row;
}

.toggle:active {
    color: green;
}

.title:hover {
    font-weight: bold;
}

.title .complete {
    text-decoration: line-through;
}

.delete:hover {
    color: rgba(184, 27, 79, 0.7);
    animation: shake 0.5s;
}

@keyframes shake {
    0% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}